---
layout: base.njk
title: Welcome
---

{%- from "macros.njk" import component -%}
<body class="bg-background sm:bg-background-other">
<div class="p-6">
    <div class="font-body">
        {{ component("headings/title", { content: "Page d'accueil" }) }}
    </div>
    <h2 class="text-lg text-regal-blue mb-4 mt-2">Bienvenue sur mon site</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem cupiditate delectus doloremque impedit
        in incidunt nesciunt nostrum officia perferendis provident quam ratione rem reprehenderit saepe sed sit,
        tempore, vitae?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem, cumque cupiditate deleniti, distinctio
        eligendi enim exercitationem labore libero necessitatibus nesciunt nihil nostrum omnis perspiciatis quibusdam
        tenetur, unde veritatis voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquam amet animi architecto atque
        blanditiis eveniet exercitationem explicabo fugit itaque, magnam minus neque odit officiis omnis reiciendis
        repellendus unde!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consequuntur maxime perferendis quae
        ratione sint suscipit voluptate. Dolores et explicabo facilis, maxime quam repellendus vel voluptate. Eius,
        nemo, possimus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa expedita, maxime necessitatibus obcaecati qui
        sunt velit voluptatibus voluptatum! Aliquam cum earum eos molestias optio quod, suscipit tempora vero. Libero,
        voluptatem.
    </p>
</div>
</body>
